@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Detalhes gerais */

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #ffffff;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    font-style: Bold;
    line-height: 35px;
}

h3 {
    font-size: 20px;
}

#TextoDeApresentaçao {
    text-align: justify;
}
/* Detalhes do menu */

nav {
    width: 100%;
    height: 57px;
    background: #121212;
    top: 0px;
    position: fixed;
}

nav ul img {
    /* float: inline-start !important; */
    width: 24px;
    fill: blue;
}

nav ul {
    display: flex;
    float: right;
    padding: 0 100px;
    /* margin: 0 auto; */
}

nav ul li {
    list-style: none;
} 

nav ul li a{

    /* display: flex; */
    color: rgba(151, 151, 151, 0.87);
    padding: 45px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-decoration: none;
    text-transform: uppercase;

}

nav ul li a:hover { 
    color: white;
}


nav ul li a img {
    width: 24px;
    fill: blue;
} 

/* Detalhes de seçao (GERAL) */

section {
    width: 100%;
    height: 100vh;
    align-items: center;
}

#BoardPrincipal {
    background-color: rgba(52, 52, 52, 0.46);
    width: 370px;
    border-radius: 10px;
    height: 615px;
    margin: auto;
}

#ImagemPrincial {
    background-image: url("Images/Wallpaper/WhatsApp Image 2020-06-04 at 12.11.43.jpeg");
    width: 295px;
    height: 295px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* detalhe (Seção 1) */

.sec1 {
    background-image: url("Images/Wallpaper/wallpaperflare.com_wallpaper.jpg");
    background-position: auto;
}

/* detalhe seçao 2 */

.sec2 {
    background-color: #181818;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#BotaoCurriculo {
   font-size: 20px; 
   text-transform: uppercase;
   color: #ffffff;
   background-color: rgba(0, 0, 0, 0);
   border-radius: 10px;
   width: 227px;
   height: 54px;
}

#BotaoCurriculo:hover {
   color: rgba(207, 207, 207, 0.87);
   background-color: rgb(22, 22, 22);
}

#Sobre {
    width: 77.500em;
    height: 250px;
    text-align: center;
    margin: 0 auto;
}

#BlocoDeDados {
    display: flex;
}

.LogoInfo {
    width: 34px;
    height: 34px;
}

.Linguagens {
    border-top: 113px;
    background-color: rgba(52, 52, 52, 0.46);
    width: 127px;
    height: 127px;

}

.logoLinguagem {
    width: 75px;

}

/* detalhe seçao 3 */

.h1Preto {
    color: #000000;
    text-align: center;
    margin: 0 auto;
}
/* Detalhes do rodapé */

footer {
position: static;
left: 0%;
right: 0%;
top: 91.02%;
bottom: 0%;
display: flex;
background: #000000;
padding: 45px;
font-size: 20px;
    letter-spacing: 0.15px;
}

footer p {
    color: #ffffff;

}

