
.sec2 {
    background-color: #181818;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: fit-content(100%);
    align-items: center;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 10% 80% 10%;
}

#BlocoDeDados {
    height: 100%;
    display: grid;
    grid-template-columns: auto 50%;
    grid-row: 2/3;
    grid-gap: 50px;
}

#BoardSegundaTela {
    height: auto;
    width: auto;
    display: grid;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 2/3;
}

 @media only screen and (max-width: 500px) {

    .sec2 {
        height: 230vh;
    }

    #BlocoDeDados {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 100%;
    }
 }