#TextoDeApresentaçao {
    text-align: justify;
}

#Sobre {
    width: 100%;
    text-align: center;
    grid-row: 1;
    align-self: end;
    justify-self: center;
}

.LogoInfo {
    width: 34px;
    height: 34px;
}

.Icon {
    height: 60%;
}

