
 #DetalhesPessoais {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
 }

 #GridDetalhesPessoais {
   display: grid;
   width: auto;
   height: 100%;
   grid-gap: 10px 10px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
 }

 .LogoContato {
    width: 100%;
    height: 100%;
   justify-self: center;
   background-color: rgba(52, 52, 52, 0.46);
   border-radius: 10px;
   display: grid;
   grid-template-rows: auto auto auto;
 }

 .LogoContato h4 {
    text-align: center;
    font-size: 80%;
 }

.LogoContato img {
   height: auto;
   width: 40%;
   justify-self: center;
   align-self: center;
} 

.LogoContato p {
   font-size: 0.7vw;
   text-align: center;
   text-transform: uppercase;
   align-self: center;
}

#CVDownloadButtons {
   display: none;
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(1, 1fr);
   width: 50%;
   justify-self: center;
   justify-items: center;
   align-items: center;
}

#CVDownloadButtons a {
   width: 100%;
   height: 100%;
   /* align-self: center; */
   justify-self: center;
}

.DownloadButton {
   grid-row: 1;
   width: 100%;
   height: 80%;
   align-self: center;
   justify-self: center;
   background-color: rgba(240, 248, 255, 0);
   color: white;
   font-size: 0.7vw;
   border-radius: 10px;
}

#formularioDeContato {
   display: none;
   width: 100%;
   height: 100%;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(4, 1fr);
}

#formularioDeContato label {
   grid-column: 2;
   color: rgb(131, 128, 128);
   text-transform: uppercase;
}

#formularioDeContato form {
   width: 100%;
   display: grid;
   flex-direction: row;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(12, 1fr);
   grid-row: 1 / 5;
   grid-column: 3/13;
   background-color: rgba(0, 255, 255, 0);
}

#formularioDeContato form input{
   border: solid rgb(49, 49, 49);
   border-radius: 25px;
}

#formName {
   grid-row: 2/3;
}

#formSubject {
   grid-row: 4/5;
}

#formMessage {
   grid-row: 6/12;
   height: 80%;
   width: 100%;
}

#SendButton {
   grid-row:  12/14;
   grid-column: 5 / 9 !important;
   background-color: rgba(87, 87, 87, 0.253) !important;
}

#formularioDeContato input {
   grid-column: 2/13;
   background-color: rgba(240, 248, 255, 0);
   width: 100%;
   align-items: center;
   justify-content: center;
   color: white;
   padding-top: 0;
}

#BotaoFormulario {
   display: none;
}

#StatusDeTrabaho {
   grid-row: 1/3 !important;
   grid-column: 3;
}

#backButton {
   grid-row: 2;
   grid-column: 1/3;
   border-radius: 25px;
   background-color: rgba(240, 248, 255, 0);
   color: white;
   font-size: 1vw;
   text-transform: uppercase;
   color: rgb(131, 128, 128);
   border: solid rgb(131, 128, 128);
}



@media only screen and (max-width: 500px) {
   .LogoContato p { 
      font-size: 1.5vw;
   }

   .LogoContato {
      max-height: 180px;
   }

}