
 #DetalhesPessoais {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
 }



 #GridDetalhesPessoais {
   display: grid;
   width: auto;
   height: 100%;
   grid-gap: 10px 10px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
 }

 .LogoContato {
    width: 100%;
    height: 100%;
   justify-self: center;
   background-color: rgba(52, 52, 52, 0.46);
   border-radius: 10px;
   display: grid;
   grid-template-rows: auto auto auto;
 }

 .LogoContato h4 {
    text-align: center;
    font-size: 80%;
 }

.LogoContato img {
   height: auto;
   width: 40%;
   justify-self: center;
   align-self: center;
} 

.LogoContato p {
   font-size: 0.7vw;
   text-align: center;
   text-transform: uppercase;
   align-self: center;
}

 