
#BotaoCurriculo {
    font-size: 1.5vw; 
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 50%;
    height: 54px;
    margin-left: 25%;
 }

 #DetalhesPessoais {
    Font-Size: 1vw;
    Line-Height: 23px;
 }

 #DetalhesPessoais h3 {
   font-size: 1.5vw;
 }


 