
#gridDeProjetos {
    width: 80%;
    height: 150%; 
    row-gap: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-gap: 5px 5px;
}

.BoardProjeto {
    border-radius: 10px;
    background-color: rgba(52, 52, 52, 0.46);
}

@media only screen and (max-width: 770px) {
        #gridDeProjetos {
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows:  1fr 1fr; 
        } 
    }
 

 @media only screen and (max-width: 400px) {
    #gridDeProjetos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr; 
    } 
}

 

/* .BoardProjeto:hover {
    fill: rgba(198, 255, 10, 0.445);
} */