
#CaixaDoBoard {
    /* background-color: rgb(255, 255, 255); */
    width: 370px;
    border-radius: 10px;
    height: 80%;
    align-self: center;
    justify-self: center;
    text-align: center;
    display: grid;
}

#TextoDoCard {
    line-height: 0.0;
    text-transform: uppercase;
    grid-row: 2;
}

#BoardPrincipal {
    background-color: rgba(52, 52, 52, 0.46);
    width: 100%;
    border-radius: 10px;
    height: 60%;
    margin-top: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Detalhes de seçao (GERAL) */

#CardDeItens {
    background-color: rgba(52, 52, 52, 0.47);
    width: 370px;
    border-radius: 0px;
    height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-row: 3;
}

#CardDeItens ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    align-items: center;
    margin-left: 0em;
    padding-left: 0px;
    list-style: none;
}


#CardDeItens ul li{
    align-self: center;
}

#CardDeItens ul li a img{
    width: 50%;
}


#quadro {
    margin-top: -50%;
    align-items: center;
    display: grid;
}

#Moldura2 {
    align-self: center;
    justify-self: center;
    width: 90%;
    height: 100%;
    border-radius: 50%; 
    background-color: rgba(69, 62, 49, 0.4);
    display: grid;
}

#Moldura1 {
    align-self: center;
    justify-self: center;
    display: grid;
    width: 90%;
    height: 90%;
    border-radius: 50%; 
    background-color: #453E31
}


#ImagemPrincial {
    /* background-color: rgb(172, 172, 172); */
    background-image: url("/images/Wallpaper/folder.jpeg");
    background-image: image-set();
    align-self: center;
    justify-self: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-height: 700px) {

    #BoardPrincipal {
        height: 70%;
    }


}