
#Habilidades {
    height: 80%;
    width: 100%;
}


#GridDeHabilidade {
    display: grid;
    width: 100%;
    height: auto;
    grid-gap: 25px 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


@media only screen and (max-width: 770px) {
    #GridDeHabilidade {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}


@media only screen and (max-width: 365px) {
    #GridDeHabilidade {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}



.Linguagens {
    justify-self: center;
    background-color: rgba(52, 52, 52, 0.46);
    border-radius: 10px;
    display: grid;
}


.logoLinguagem {
    width: 60%;
    height: auto;
    justify-self: center;
    align-self: center;
}
