#Habilidades {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-row: 1/2;
}

#GridDeHabilidade {
    display: grid;
    width: auto;
    height: 100%;
    grid-gap: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.Linguagens {
    height: 100%;
    width: 100%;
    justify-self: center;
    background-color: rgba(52, 52, 52, 0.46);
    border-radius: 10px;
    display: grid;
    min-height: 100px;
}

.logoLinguagem {
    width: 55%;
    height: auto;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
    font-size: 70%;
    line-height: 250%;
    text-transform: uppercase;
}

#serviceGrid {
    display: grid;
    grid-gap: 10px 10px;
}

.serviceItem {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgba(52, 52, 52, 0.46);
    width: 100%;
    border-radius: 10px;
}

.serviceItem:hover {
    scale: 1.05;
    transition-duration: 1.5s;
    background-color: rgba(52, 52, 52, 0.603);
}

@media only screen and (max-width: 800px) {
    #GridDeHabilidade {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    #GridDeHabilidade {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}